@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: Kanit;
  src: url("/project/public/font/kanit/Kanit-Bold.ttf");
  font-weight: 700;
}

.kanit{
  font-family: "Kanit", sans-serif;
}
.bg-navbar{
  background-color: #4925E9;
  background: linear-gradient(108deg, #392DCA 7.37%, #4623E9 95.19%);
}
.bg{
  background-color: #4925E9;
  background: linear-gradient(108deg, #392DCA 7.37%, #4623E9 95.19%);
  transition: 0.3s ease-in-out;
}
.bg:hover {
  background: linear-gradient(108deg, #2d258d 7.37%, #2c10aa 95.19%);
  background-color: #4a379f;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #4925E9;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #4925E9;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.scale-up {
	        animation: scale-up 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up {
  0% {
            transform: scale(0.5);
  }
  100% {
            transform: scale(1);
  }
}
@keyframes scale-up {
  0% {
            transform: scale(0.5);
  }
  100% {
            transform: scale(1);
  }
}

